# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IJ IDEA\Java Kecerdasan Buatan CV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
